{% extends 'base.html.twig' %}

{% block title %}Hello CompetitionController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <ul style="list-style: none; padding-left: 0">
            {% for stage in stages %}
                <li style="vertical-align: top; display: inline-block">
                    {{ stage.getName }}
                    <ul style="list-style: none; display: block; padding-left: 0; margin-right: 40px">
                        {% for play in stage.getPlays() %}
                            <li>
                                <table>
                                    <tr>
                                        <td>
                                            <ul style="list-style: none; display: block; padding-left: 0">
                                                <li>{{ play.getTeam().getName() }}</li>
                                                <li>{{ play.getOpponent().getName() }}</li>
                                            </ul>
                                        </td>
                                        <td rowspan="2">{{ play.getScoredGoals() }} : {{ play.getLostGoals() }}</td>
                                    </tr>
                                </table>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            <li style="display: inline-block">
                <h2>Results</h2>
                {% for team in resultTeams %}
                    Team {{ team.getName()  }}
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}
